html * {
  box-sizing: border-box;
  position: relative;
}
:root {
  --gutter: 20px;
}
body {
  max-width: 1200px;
  margin: 0 auto 40px;
}
#root {
  header {
    padding: var(--gutter);
    .navbar-section {
      align-items: flex-start;
    }
    nav a {
      padding: 10px 10px;
      &:first-child {
        padding: 10px 10px 10px 0;
      }
    }
  }
  main {
    padding: 0 var(--gutter);
  }
  .text-gray {
    color: #78797a !important;
  }
  .card-footer {
    margin-top: auto !important;
  }
}
p {
  max-width: 80ch;
}
a:hover img {
  filter: brightness(120%);
}
textarea {
  resize: vertical;
}
.layout {
  max-width: 1240px;
  display: grid;
  gap: 20px;
  box-sizing: border-box;
}
.two-column-even {
  grid-template-columns: repeat(auto-fill, minmax(100px, 600px));
}
@media (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
  .navbar .navbar-center {
    flex: 1 0 auto;
    .input-inline {
      width: 100%;
    }
  }
}
