html * {
  box-sizing: border-box;
  position: relative;
}
:root {
  --gutter: 20px;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
#root {
  header {
    padding: var(--gutter);
    .navbar-section {
      align-items: flex-end;
    }
    nav a {
      padding: 10px 10px;
      &:first-child {
        padding: 10px 10px 10px 0;
      }
    }
  }
  main {
    padding: 0 var(--gutter);
  }
  .text-gray {
    color: #78797a !important;
  }
  .card-footer {
    margin-top: auto !important;
  }
}
p {
  max-width: 80ch;
}
.layout {
  max-width: 1240px;
  display: grid;
  gap: 20px;
  box-sizing: border-box;
}
.two-column-even {
  grid-template-columns: repeat(auto-fill, minmax(100px, 600px));
}
