html body form {
  .form-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      min-width: 100px;
    }
  }
  /* .form-label ~ .form-input-hint {
    margin: 0;
  } */
  /* .form-group {
    margin-bottom: 3rem;
  } */
  p.text-error {
    font-size: 0.7rem;
    margin: 0;
  }
}
